body{ 
  font-size: 18px; 
	font-family:"Comic Sans MS", sans-serif;
	width: 960px;
    margin: 0 auto;
}

.container{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin-top: 20px;
}


.dragzone{
	background: #70dc70; 
	width: 430px;
	margin-right: 50px;
	height: 510px;
	margin-top: 40px;

}

.dropzone{ 
  
	display: flex;
	margin: 10px;
	width: 421px;
	height:421px;
	box-sizing:border-box;
	margin-top: 40px;


}

.row{

    width: 210px;
    height: 420px;
    display: flex;
    flex-direction: column;
   

}


 .row > div{
	width: 210px; 
	height: 140px;

}

.hw {

	width: 210px;
	height: 210px;
}

.row p{

 margin: 50px;
 color: white;
 background-color: #70dc70;
 padding:5px;
}

.draggable { 

	cursor: move;

}


#canvas {
	display: none;

}


.dragzone button {

 background: #dfe6da;
  background-image: -webkit-linear-gradient(top, #dfe6da, #edfff1);
  background-image: -moz-linear-gradient(top, #dfe6da, #edfff1);
  background-image: -ms-linear-gradient(top, #dfe6da, #edfff1);
  background-image: -o-linear-gradient(top, #dfe6da, #edfff1);
  background-image: linear-gradient(to bottom, #dfe6da, #edfff1);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  font-weight: bold;
  color: #70DC70;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.dragzone button:hover {
  background: #f0f0f0;
  background-image: -webkit-linear-gradient(top, #f0f0f0, #17b34e);
  background-image: -moz-linear-gradient(top, #f0f0f0, #17b34e);
  background-image: -ms-linear-gradient(top, #f0f0f0, #17b34e);
  background-image: -o-linear-gradient(top, #f0f0f0, #17b34e);
  background-image: linear-gradient(to bottom, #f0f0f0, #17b34e);
  text-decoration: none;
  color: #f0f0f0;
}